.customForgetPwdPaper {
  overflow-x: hidden;
  height: 100%;
}
.title {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.forgetPwdContainer {
  padding: 20px;
  overflow-y: hidden;

  .forgotPwdTextField {
    width: 100%;
  }
  .imgContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    img {
      padding: 20px;
      p {
        padding: 20px;
      }
    }
  }

  .BtnContainergrid {
    display: flex;
    .btnContainer {
      margin-left: auto;
    }

    .cancelBtn {
      margin: 20px;
    }
  }
}
