.MuiTableRow-root.Mui-selected.selectedRow,
.MuiTableRow-root.Mui-selected.selectedRow:hover {
  background-color: aliceblue;
}
/* .toolBarWrapper {
  background-color: #b5dafa;
} */
.Mui-checked.checkboxColor {
  color: blue;
}
.headerText {
  color: #4d4d4d;
  font-family: Poppins;
  font-size: 14px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}
.text {
  color: #616161;
  font-family: Poppins;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
